h1= title
h3 Here's the landing page
p Some info about the page.
p Name: #{page.name}
p Category: #{page.category}
p One Line Pitch: #{page.onelinepitch}
p Detailed Pitch: #{page.detailedpitch}
p Ops Header: #{page.opsheader}
p Call to Action description: #{page.calltoaction}
p Email: #{page.email}
p Image:
  img(src='http://static1.robohash.com/#{page.name}')
